@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffff8;
  --foreground: #111;
  --font-serif: 'Newsreader', serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif);
}
